/* CSS Document */
*,
html,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* parameters */
:root {
  --main-site-color: #A06CF8;
  --even-section-color: #F6F0FF;
  --boxShadow-color: 0 8px 70px 0 rgba(210, 184, 253, 0.5);
  --boxShadow-hover-color: 0 8px 70px 0 rgba(147, 86, 245, 0.5);
  --main-text-color: #503E6F;
}

/* general styling */

/* Bron Rachied/Sanne Scrollbar */
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent;
}

body {
  font-family: 'Roboto';
  margin: 0 5vw;
}

h1 {
  font-weight: 700;
  font-size: 12vw;
}

h2 {
  font-size: 7vw;
  width: 50vw;
}

h3 {
  font-size: 6vw;
  margin: 2vh 0 0 0;
}

h1,
h2,
h3 {
  color: var(--main-site-color);
}

p {
  color: var(--main-text-color);
  /* font-size: 1.1em; */
  font-size: 5.6vw;
  line-height: 1.4em;
  margin: 1vh 0;
}

p+p {
  margin: 4vh 0;
}

a {
  text-decoration-line: none;
}

li {
  list-style: none;
}

/* interaction */
section:nth-child(even) ul li:hover,
section:nth-child(odd) ul li:hover {
  transition: all ease .3s;
  box-shadow: var(--boxShadow-hover-color);
}

/* layout */

/* mobile navigation */

header .mobileMenu {
  font-size: 5vw;
  display: block;
  position: absolute;
  top: 100%;
  left: -5vw;
  right: -5vw;
  background: #fff;
  z-index: 1;
  box-shadow: 0 44px 50px 0 rgba(147, 86, 245, 0.5);
}

header .mobileMenu ul {
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

header .mobileMenu ul li {
  border-bottom: 0.5vw solid var(--main-site-color);
}

header .mobileMenu ul li a {
  display: block;
  padding: 5vw;
}

/* navigation */
header {
  position: relative;
  height: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 0 1vh 0;
}

header nav {
  display: none;
}

/* sections */
section {
  position: relative;
  margin-bottom: 5vh;
  display: block;
  /* height: 134vw; */
}

section img {
  width: 91vw;
}

/* odd sections */

section:nth-child(odd) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section:nth-child(odd) svg {
  margin-bottom: 2vh;
  order: -1;
}


/* even sections */

section:nth-child(even) {
  padding: 2vh;
  border-radius: 0 30vw 0 0;
  background: var(--even-section-color);
  margin: 0 -5vw;
}

section:nth-child(even) ul li {
  background: #FFFFFF;
  border-radius: 16px;
  margin-top: 4vh;
  margin-bottom: 4vh;
  box-shadow: var(--boxShadow-color);
  overflow: hidden;
  padding: 0 4vw 1vh 4vw;
}

section:nth-child(even) ul li img {
  position: relative;
  margin-left: -4vw;
  width: 70vw;
  height: auto;
}

/* blog section */
section.blog {
  padding: 2vh;
  border-radius: 0 30vw 0 0;
  background: var(--even-section-color);
  margin: 0 -5vw;
}



.blog ul {
  margin: 0 5vw;
  display: flex;
  overflow: scroll;
  margin-right: -3vw;
  justify-content: space-between;
}


.blog ul li {
  background: #FFFFFF;
  border-radius: 16px;
  margin-top: 4vh;
  margin-bottom: 4vh;
  box-shadow: var(--boxShadow-color);
  overflow: hidden;
  padding: 0 4vw 1vh 4vw;
  min-width: 70vw;
  margin-right: 5vw;
}

.blog ul li img {
  position: relative;
  margin-left: -4vw;
  width: 70vw;
  height: auto;
}

section.blog ul li:hover {
  display: noen;
}

/* blog page */

.blogPage section {
  display: flex;
  flex-direction: column;
  background: none;
}

.blogPage section h1 {
  order: -1;
}

.blogPage section:first-of-type img {
  width: 100vw;
  box-shadow: none;
  margin: 0 -5vw;
  border-radius: 0;
}

.blogPage img {
  box-shadow: var(--boxShadow-color);
  border-radius: 8px;
  order: -2;
  margin: 2vh 0;
}

.blogPage h2 {
  order: -1;
}

/* svg animation */

svg {
  width: 90vw;
  height: auto;
  position: relative;
  right: -6vw;
}

#placeOne,
#placeTwo,
#placeThree,
#ladder {
  opacity: 0;
}

#placeOne,
#placeTwo,
#placeThree,
#ladder {
  animation-duration: 1.5s;
  animation-name: build;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

#ladder {
  animation-delay: 0.5s;
}

#placeOne {
  animation-delay: 1.5s;
}

#placeTwo {
  animation-delay: 1s;
}


#placeThree {
  animation-delay: 0s;
}

@keyframes build {
  from {
    transform: translatex(-60px)translateY(0);
    opacity: 0;
  }

  to {
    transform: translatex(0px)translateY(0);
    opacity: 1;
  }
}

#buildOne_1_,
#buildTwo,
#buildThree {
  animation-duration: 1.2s;
  animation-name: pickUp;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

#buildTwo {
  animation-delay: 1s;
}


#buildThree {
  animation-delay: 0s;
}

@keyframes pickUp {
  from {
    transform: translatex(0px)translateY(0);
    opacity: 1;
  }

  to {
    transform: translatex(20px)translateY(0);
    opacity: 0;
  }
}

/* svg styling */
.st0{fill:#D3BFF5;}
.st1{opacity:0.5;}
.st2{clip-path:url(#SVGID_2_);fill:#6430F2;}
.st3{fill:#F0F0FE;}
.st4{clip-path:url(#SVGID_4_);}
.st5{fill:#7A25FF;}
.st6{fill:#FFFFFF;}
.st7{fill:#C0B4D6;}
.st8{clip-path:url(#SVGID_6_);fill:#6430F2;}
.st9{opacity:0.3;fill:#6430F2;}
.st10{opacity:0.3;fill:#7A25FF;}
.st11{fill:#333333;}
.st12{fill:#DDD0FC;}
.st13{fill:#B19DEA;}
.st14{fill:#8B5BF4;}

@media all and (min-width: 760px) {

  /* general styling */
  h1 {
    font-weight: 700;
    font-size: 6vw;
  }

  h2 {
    font-size: 3vw;
    width: 22vw;
  }

  h3 {
    font-size: 2.5vw;

    margin: 2vh 0 0 0;
  }

  p {
    font-size: 2.4vw;
    line-height: 4.1vw;
  }

  p+p {
    margin: 0;
  }

  /* Navigation */
  header {
    height: 8vw;
  }

  header nav a {
    color: var(--main-text-color);
  }

  header nav ul li:hover {
    font-weight: 700;
    transition: all ease .3s;
  }

  header nav {
    display: flex;
    width: 100%;
  }

  header nav img {
    display: none;
  }

  header nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  header nav li {
    font-size: 4vw;
  }

  header .mobileMenu, .menuButton {
display: none;
  }

  /* sections */

  /* sections odd */

  section:nth-child(odd) {
    height: 50vw;
    justify-content: center;
  }

  section:nth-child(odd) h1,
  section:nth-child(odd) p {
    width: 40%;
  }

  section {
    margin-bottom: 0;
  }

  section:nth-child(odd) h2 {
    width: 20vw;
  }

  section:nth-child(odd) svg {
    width: 57vw;
    position: absolute;
    margin: 0;
  }


  /* section even */

  section:nth-child(even) {
    padding: 5vh;
  }

  section:nth-child(even) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  section:nth-child(even) ul li {
    width: 43vw;
    margin-bottom: 0;
    height: 20.9vw;
    padding: 0 2vw 0vh 2vw;
  }

  /* section blog */

  section.blog {
    height: auto;
    padding: 5vw;
  }

  section.blog h2 {
    width: 26vw;

  }

  section.blog ul li {
    height: auto;
    flex-wrap: none;
    overflow: none;
    width: 0vw;
    min-width: 28vw;
  }

  section.blog ul li img {
    width: 32vw;
  }

  section.blog ul {
    overflow: visible;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .blog ul li {
    margin-right: 0vw;
    padding: 0 2vw 1vh 4vw;
  }


  .blog ul li p {
    width: 100%;
  }



  /* blogpage */

  .blogPage section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .blogPage section h1,
  .blogPage section h2 {
    width: 28vw;
  }

  .blogPage section p {
    width: 50vw;
  }

  .blogPage section img {
    margin-bottom: 2vw;
  }

  .blogPage section:first-of-type img {
    width: 100vw;
    box-shadow: none;
    margin: 0 -5vw 2vw -5vw;
    border-radius: 0;
  }

  .blogPage section:last-child {
    margin-bottom: 4vw;
  }


  .blogPage section:nth-child(odd) {
    height: auto;

  }
}

@media all and (min-width: 1200px) {

  /* general styling */

  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 2.6vw;
    width: 26vw;
    margin-right: 0vw;
  }

  h3 {
    font-size: 2vw;
  }

  p {
    font-size: 2vw;
    line-height: 3.2vw;
  }

  header nav li {
    font-size: 2.5vw;
  }

  /* navigation */
  header {
    height: 6vw;
  }

  /* sections */

  /* section even */
  section:nth-child(even) {
    padding: 5vw;
    display: flex;
  }

  section:nth-child(even) ul li {
    width: 34vw;
    height: 15.9vw;
  }


  /* section blog */
  section.blog {
    display: flex;
    flex-direction: row;
  }

  .blogPage section {
    display: flex;
    flex-direction: row;
  }

  section.blog ul li {
    height: auto;
    flex-wrap: none;
    overflow: none;
    width: 0vw;
    min-width: 21.5vw;
    padding: 0 1.5vw;
  }

  section.blog ul li img {
    width: 24vw;
  }
}