/* CSS Document */
*,
html,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* parameters */
:root {
  --main-site-color: #A06CF8;
  --even-section-color: #F6F0FF;
  --boxShadow-color: 0 8px 70px 0 rgba(210, 184, 253, 0.5);
}

/* General styling */

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent;
}

body {
  font-family: 'Roboto';
  margin: 0 5vw;
}

h1 {
  font-weight: 700;
  font-size: 12vw;
}

h2 {
  font-size: 7vw;
  width: 50vw;
}

h3 {
  font-size: 6vw;
  margin: 2vh 0 0 0;
}

h1,
h2,
h3 {
  color: var(--main-site-color);
}

p {
  color: #503E6F;
  font-size: 5.6vw;
  line-height: 1.4em;
  margin: 1vh 0;
}

p+p {
  margin: 4vh 0;
}


/* layout */

/* navigation */
header {
  height: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 0 1vh 0;
}

/* sections */
section {
  position: relative;
  margin-bottom: 5vh;
  display: block;
  /* height: 134vw; */
}

section img {
  width: 91vw;
}

/* odd sections */

section:nth-child(odd) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section:nth-child(odd) svg {
  margin-bottom: 2vh;
  order: -1;
}


/* even sections */

section:nth-child(even) {
  padding: 2vh;
  border-radius: 0 30vw 0 0;
  background: var(--even-section-color);
  margin: 0 -5vw;
}

section:nth-child(even) ul li {
  list-style-type: none;
  background: #FFFFFF;
  border-radius: 16px;
  margin-top: 4vh;
  margin-bottom: 4vh;
  box-shadow: var(--boxShadow-color);
  overflow: hidden;
  padding: 0 4vw 1vh 4vw;
}

section:nth-child(even) ul li img {
  position: relative;
  margin-left: -4vw;
  width: 70vw;
  height: auto;
}

/* blog section */
.blog ul {
  display: flex;
  overflow: scroll;
  margin-right: -3vw;
}


.blog ul li {
  min-width: 70vw;
  margin-right: 5vw;
}

/* blog page */

.blogPage section {
  display: flex;
  flex-direction: column;
  background: none;
}

.blogPage section h1 {
  order: -1;
}

.blogPage section:first-of-type img {
  width: 110%;
  box-shadow: none;
  margin: 0 -5vw;
}

.blogPage img {
  box-shadow: var(--boxShadow-color);
  border-radius: 8px;
  order: -2;
  margin: 2vh 0;
}

.blogPage h2 {
  order: -1;
}

/* svg animation */

svg {
  width: 90vw;
  height: auto;
  position: relative;
  right: -5vw;
}

#placeOne,
#placeTwo,
#placeThree,
#ladder {
  opacity: 0;
}

#placeOne,
#placeTwo,
#placeThree,
#ladder {
  animation-duration: 1.5s;
  animation-name: build;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

#ladder {
  animation-delay: 0.5s;
}

#placeOne {
  animation-delay: 1.5s;
}

#placeTwo {
  animation-delay: 1s;
}


#placeThree {
  animation-delay: 0s;
}

@keyframes build {
  from {
    transform: translatex(-60px)translateY(0);
    opacity: 0;
  }

  to {
    transform: translatex(0px)translateY(0);
    opacity: 1;
  }
}

#buildOne_1_,
#buildTwo,
#buildThree {
  animation-duration: 1.2s;
  animation-name: pickUp;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

#buildTwo {
  animation-delay: 1s;
}


#buildThree {
  animation-delay: 0s;
}

@keyframes pickUp {
  from {
    transform: translatex(0px)translateY(0);
    opacity: 1;
  }

  to {
    transform: translatex(20px)translateY(0);
    opacity: 0;
  }
}


/* svg styling */
.st0{fill:#D3BFF5;}
.st1{fill:#F0F0FE;}
.st2{clip-path:url(#SVGID_2_);}
.st3{clip-path:url(#SVGID_4_);fill:#A166FF;}
.st4{clip-path:url(#SVGID_4_);fill:#A065FF;}
.st5{clip-path:url(#SVGID_4_);fill:#A064FF;}
.st6{clip-path:url(#SVGID_4_);fill:#9F63FF;}
.st7{clip-path:url(#SVGID_4_);fill:#9F62FF;}
.st8{clip-path:url(#SVGID_4_);fill:#9E61FF;}
.st9{clip-path:url(#SVGID_4_);fill:#9D60FF;}
.st10{clip-path:url(#SVGID_4_);fill:#9D5FFF;}
.st11{clip-path:url(#SVGID_4_);fill:#9C5EFF;}
.st12{clip-path:url(#SVGID_4_);fill:#9B5DFF;}
.st13{clip-path:url(#SVGID_4_);fill:#9B5CFF;}
.st14{clip-path:url(#SVGID_4_);fill:#9A5BFF;}
.st15{clip-path:url(#SVGID_4_);fill:#9A5AFF;}
.st16{clip-path:url(#SVGID_4_);fill:#9959FF;}
.st17{clip-path:url(#SVGID_4_);fill:#9858FF;}
.st18{clip-path:url(#SVGID_4_);fill:#9857FF;}
.st19{clip-path:url(#SVGID_4_);fill:#9756FF;}
.st20{clip-path:url(#SVGID_4_);fill:#9755FF;}
.st21{clip-path:url(#SVGID_4_);fill:#9654FF;}
.st22{clip-path:url(#SVGID_4_);fill:#9553FF;}
.st23{clip-path:url(#SVGID_4_);fill:#9552FF;}
.st24{clip-path:url(#SVGID_4_);fill:#9451FF;}
.st25{clip-path:url(#SVGID_4_);fill:#9350FF;}
.st26{clip-path:url(#SVGID_4_);fill:#934FFF;}
.st27{clip-path:url(#SVGID_4_);fill:#924EFF;}
.st28{clip-path:url(#SVGID_4_);fill:#924DFF;}
.st29{clip-path:url(#SVGID_4_);fill:#914CFF;}
.st30{clip-path:url(#SVGID_4_);fill:#904BFF;}
.st31{clip-path:url(#SVGID_4_);fill:#904AFF;}
.st32{clip-path:url(#SVGID_4_);fill:#8F49FF;}
.st33{clip-path:url(#SVGID_4_);fill:#8F48FF;}
.st34{clip-path:url(#SVGID_4_);fill:#8E47FF;}
.st35{clip-path:url(#SVGID_4_);fill:#8D46FF;}
.st36{clip-path:url(#SVGID_4_);fill:#8D45FF;}
.st37{clip-path:url(#SVGID_4_);fill:#8C44FF;}
.st38{clip-path:url(#SVGID_4_);fill:#8C43FF;}
.st39{clip-path:url(#SVGID_4_);fill:#8B42FF;}
.st40{clip-path:url(#SVGID_4_);fill:#8A41FF;}
.st41{clip-path:url(#SVGID_4_);fill:#8A40FF;}
.st42{clip-path:url(#SVGID_4_);fill:#893FFF;}
.st43{clip-path:url(#SVGID_4_);fill:#883EFF;}
.st44{clip-path:url(#SVGID_4_);fill:#883DFF;}
.st45{clip-path:url(#SVGID_4_);fill:#873CFF;}
.st46{clip-path:url(#SVGID_4_);fill:#873BFF;}
.st47{clip-path:url(#SVGID_4_);fill:#863AFF;}
.st48{clip-path:url(#SVGID_4_);fill:#8539FF;}
.st49{clip-path:url(#SVGID_4_);fill:#8538FF;}
.st50{clip-path:url(#SVGID_4_);fill:#8437FF;}
.st51{clip-path:url(#SVGID_4_);fill:#8436FF;}
.st52{clip-path:url(#SVGID_4_);fill:#8335FF;}
.st53{clip-path:url(#SVGID_4_);fill:#8234FF;}
.st54{clip-path:url(#SVGID_4_);fill:#8232FF;}
.st55{clip-path:url(#SVGID_4_);fill:#8131FF;}
.st56{clip-path:url(#SVGID_4_);fill:#8030FF;}
.st57{clip-path:url(#SVGID_4_);fill:#802FFF;}
.st58{clip-path:url(#SVGID_4_);fill:#7F2EFF;}
.st59{clip-path:url(#SVGID_4_);fill:#7F2DFF;}
.st60{clip-path:url(#SVGID_4_);fill:#7E2CFF;}
.st61{clip-path:url(#SVGID_4_);fill:#7D2BFF;}
.st62{clip-path:url(#SVGID_4_);fill:#7D2AFF;}
.st63{clip-path:url(#SVGID_4_);fill:#7C29FF;}
.st64{clip-path:url(#SVGID_4_);fill:#7C28FF;}
.st65{clip-path:url(#SVGID_4_);fill:#7B27FF;}
.st66{clip-path:url(#SVGID_4_);fill:#7A26FF;}
.st67{clip-path:url(#SVGID_4_);fill:#7A25FF;}
.st68{clip-path:url(#SVGID_4_);fill:#7924FF;}
.st69{clip-path:url(#SVGID_4_);fill:#7823FF;}
.st70{clip-path:url(#SVGID_4_);fill:#7822FF;}
.st71{clip-path:url(#SVGID_4_);fill:#7721FF;}
.st72{clip-path:url(#SVGID_4_);fill:#7720FF;}
.st73{clip-path:url(#SVGID_4_);fill:#761FFF;}
.st74{clip-path:url(#SVGID_4_);fill:#751EFF;}
.st75{clip-path:url(#SVGID_4_);fill:#751DFF;}
.st76{clip-path:url(#SVGID_4_);fill:#741CFF;}
.st77{clip-path:url(#SVGID_4_);fill:#741BFF;}
.st78{clip-path:url(#SVGID_4_);fill:#731AFF;}
.st79{clip-path:url(#SVGID_4_);fill:#7219FF;}
.st80{clip-path:url(#SVGID_4_);fill:#7218FF;}
.st81{clip-path:url(#SVGID_4_);fill:#7117FF;}
.st82{clip-path:url(#SVGID_4_);fill:#7116FF;}
.st83{clip-path:url(#SVGID_4_);fill:#7015FF;}
.st84{clip-path:url(#SVGID_4_);fill:#6F14FF;}
.st85{clip-path:url(#SVGID_4_);fill:#6F13FF;}
.st86{clip-path:url(#SVGID_4_);fill:#6E12FF;}
.st87{clip-path:url(#SVGID_4_);fill:#6D11FF;}
.st88{clip-path:url(#SVGID_4_);fill:#6D10FF;}
.st89{clip-path:url(#SVGID_4_);fill:#6C0FFF;}
.st90{clip-path:url(#SVGID_4_);fill:#6C0EFF;}
.st91{clip-path:url(#SVGID_4_);fill:#6B0DFF;}
.st92{clip-path:url(#SVGID_4_);fill:#6A0CFF;}
.st93{clip-path:url(#SVGID_4_);fill:#6A0BFF;}
.st94{clip-path:url(#SVGID_4_);fill:#690AFF;}
.st95{clip-path:url(#SVGID_4_);fill:#6909FF;}
.st96{clip-path:url(#SVGID_4_);fill:#6808FF;}
.st97{clip-path:url(#SVGID_4_);fill:#6707FF;}
.st98{clip-path:url(#SVGID_4_);fill:#6706FF;}
.st99{clip-path:url(#SVGID_4_);fill:#6605FF;}
.st100{clip-path:url(#SVGID_4_);fill:#6504FF;}
.st101{clip-path:url(#SVGID_4_);fill:#6503FF;}
.st102{clip-path:url(#SVGID_4_);fill:#6402FF;}
.st103{clip-path:url(#SVGID_4_);fill:#6401FF;}
.st104{clip-path:url(#SVGID_4_);fill:#6300FF;}
.st105{fill:#FFFFFF;}
.st106{fill:#C0B4D6;}
.st107{fill:url(#placeOne_1_);}
.st108{opacity:0.3;fill:#6430F2;}
.st109{fill:url(#SVGID_5_);}
.st110{fill:#333333;}
.st111{fill:#DDD0FC;}
.st112{opacity:0.4;fill:#6430F2;}
.st113{fill:#B19DEA;}
.st114{fill:#8B5BF4;}
